html, div, h1, h2, h3, h4, body{
    margin: 0px;
    padding: 0px;
}    

body {
    font-family: 'lato', sans-serif;
    font-size: 1em;
    background-color: #fafafa;     
}

body{
    padding-top:90px;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
 .container {    
    max-width: 1200px; 
  }
    
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

img {    
    max-width: 100%;
}


#navegacao{
    background: #c73296;    
    z-index: 99;
    color:#fff;
    position: fixed;
      top: 0;
      width: 100%;
    
    
}

.social-feed-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px auto;
}

.nav {   
    display: flex;
    justify-content: space-between;    
    
}

#navegacao ul li {
    display: inline;
    text-decoration-style: none;    
    padding: 10px 10px;
    
}

@media only screen and (min-width: 600px) {
 #navegacao ul li {    
    border: dotted  1px;  
  }
    
}

#navegacao nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul li:hover{
 color:cornflowerblue;
 background-color: antiquewhite;
}

#main {    
    background:  url("mesa.jpg");
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.74);    
    background-size: conver;  
    
}



#servicos{
    background-color: white;        
}

section {
    margin: 0 auto;
}
section h3{
    text-align: center;
    margin-bottom: 10px; 
    font-family: "roboto";
}

hr{
   width: 30px;
    margin: 0  auto 50px auto;
}

.serv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media only screen and (min-width: 600px) {
 .serv {    
    flex-direction: row;    
  }
    
}


#lista {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#trabalhos {
    background-color: gray;
    color: white;
}


.navimg {
    max-width: 300px;
        
}

@media only screen and (min-width: 600px) {
    .navimg {
        max-width: 300px;
        margin-right: 100px;
    }
}


.logo {
    max-width: 100px;
    transition: all 0.4s ease;
}

#servicos, #trabalhos, #contatos{
    padding: 30px 0 60px 0;   
}

#contatos{
    text-align: center;
   
}

.icon {
 margin: 0 auto;    
}

.icon img{
    max-width: 50px;
    
    
}

.logo-centro {
   text-align: center; 
   color:#ba007c;
    padding: 30px 0px 60px 0px;
}

#desenvolvido {
    text-align: right;
    font-size: 0.8em;
}

h4 {
    font-size: 12px;
}

.teste {
    height: 0px;
    font-size: 3px;   
}